* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-fira-code), var(--font-karla), sans-serif;
}

.main-container {
    background-color: #1c1c1c;
}

.d-none {
    display: none;
}