* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-fira-code), var(--font-karla), sans-serif;
}

body.modal-open {
    overflow: hidden;
    height: 100vh;
}

h2 {
    font-size: 60px;
    color: #3DCFB6;
}

h3 {
    font-size: 32px;
    color: #3DCFB6;
}

.main-container {
    background-color: #1c1c1c;
}

.d-none {
    display: none !important;
}