* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-fira-code), var(--font-karla), sans-serif;
    scroll-behavior: smooth;
}

body.modal-open {
    overflow: hidden;
    height: 100vh;
}

h2 {
    font-size: 60px;
    color: #3DCFB6;
}

h3 {
    font-size: 32px;
    color: #3DCFB6;
}

.main-container,
footer {
    background-color: #1c1c1c;
}

.d-none {
    display: none !important;
}

.error-text {
    color: rgba(236, 123, 123, 0.8);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    /* Dunkler Overlay */

    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
}