

<div class="main-container">
    <h2>Frontend Developer</h2>
    <h1>Daniel Bumbuc</h1>
    <div class="nav-btn-container">
        <button class="nav-btn">Check my work</button>
        <button class="nav-btn">Contact me</button>
    </div>

    <div class="info-banner">
        <p>Available for remote work</p>
        <span>•</span>
        <p>Frontend Developer</p>
        <span>•</span>

        <p>Based in Sindelfingen</p>
        <span>•</span>

        <p>Open to relocate</p>
    </div>
</div>

<app-navbar></app-navbar>

