<div class="main-container">
    <h2>Frontend Developer</h2>
    <h1>Daniel Bumbuc</h1>
    <div class="nav-btn-container">
        <button class="nav-btn"><span class="marquee-btn-content">Check my work</span></button>
        <button class="nav-btn"><span class="marquee-btn-content">Contact me</span></button>
    </div>

    <div class="marquee">
        <div #marqueeContent class="marquee-content">
            @for (repeat of repeats; track $index) {
            <span>
                Available for remote work
                <span class="separator">•</span>
                Frontend Developer
                <span class="separator">•</span>
                Based in Sindelfingen
                <span class="separator">•</span>
                Open to relocate
                <span class="separator">•</span>
            </span>
        }
        </div>
    </div>
</div>

<app-navbar></app-navbar>