.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.about-img-container {
    display: flex;
    flex-direction: column;
    margin-left: 140px;
    width: 720px;
    height: 720px;
}

.about-title {
    margin-top: 368px;

}

.about-bg-img {
    width: 720px;
    height: 720px;
    margin-bottom: -108%;
    margin-left: -8%;
    order: 1;
    /* Hintergrundbild zuerst */
    z-index: 1;
    border-radius: 40px;
}

.about-img {
    order: 2;
    z-index: 2;
    border-radius: 40px;
}

.about-info {
    margin-top: 68px;
}

.about-content {
    background-color: rgba(61, 207, 182, 0.1);
    margin: 24px 140px 96px 0;
    padding: 48px 24px;
    border: 1px solid #3DCFB6;
    border-radius: 40px;
    width: 720px;
    color: #FFFFFF;
}

.main-about-info {
    margin: 32px 0;
    font-size: 20px;
}

.single-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 32px 0;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
}

.single-info:hover {
    color: rgba(255, 255, 255, 1);
}

.info-text {
    padding: 0 0 0 32px;
}

.about-icons {
    width: 32px;
}

@media (max-width: 1900px) {
    .about-img-container {
        width: 620px;
        height: 620px;
    }

    .about-content {
        width: 620px;
    }


}

@media (max-width: 1660px) {
    .about-img-container {
        width: 520px;
        height: 520px;
        margin-left: 96px;
    }

    .about-content {
        width: 520px;
        margin: 24px 96px 96px 0;

    }
}

@media (max-width: 1350px) {
    .about-me {
        flex-direction: column;
    }

    .about-content {
        margin: 24px 0 96px 0;

    }

    .about-img-container {
        margin: 48px 0 0 0;
    }

    .about-info {
        margin-top: 48px;
    }

    .about-title{
        margin-top: 0;
    }
}

@media (max-width: 648px) {
    .about-img-container {
        width: 420px;
        height: 420px;
    }

    .about-content {
        width: 420px;
    }
}

@media (max-width: 520px) {
    .about-img-container {
        width: 320px;
        height: 320px;
    }

    .about-content {
        width: 320px;
    }
}

@media (max-width: 400px) {
    .about-img-container {
        width: 280px;
        height: 280px;
    }

    .about-content {
        width: 280px;
    }
}