.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px 96px;
}

.left-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.language-switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #3DCFB6;
    border-radius: 48px;
    color: rgba(61, 207, 182, 0.5);
    height: 32px;
    width: 100px;
    cursor: pointer;
}

.language-switcher:hover {
    color: rgba(61, 207, 182, 1);
    border: 1px solid #D9D9D9;
    transition: color 0.2s ease-in;
}

.language-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 0 16px;
    border-radius: 48px;
    height: 100%;
    width: 70%;
}

.language-btn:last-child {
    margin-left: -12px;
    z-index: 1;
}

.language-btn.active-language {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: #D9D9D9;
    background-color: #3DCFB6;
    border-radius: 48px;
    height: 100%;
    width: 70%;
    z-index: 3;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #D9D9D9;
    cursor: pointer;
}

.nav-links li {
    position: relative;
}

.nav-links li a {
    display: block;
}

.nav-links li .highlighter {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.nav-links li:hover .highlighter {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: #3DCFB6;
    display: block;

}

.landing-page {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: grey;
    background-image: url(../assets/img/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.headline-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    padding-left: 24px;
    color: #D9D9D9;
}

.first-headline {
    font-size: 96px;
}

.second-headline {
    font-size: 48px;
}

.marquee-btn-content {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    transform: translateX(0);
}

.nav-btn-container {
    display: flex;
    gap: 24px;
}

.nav-btn {
    background-color: transparent;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    color: #D9D9D9;
    width: 170px;
    height: 44px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 20px;
    overflow: hidden;
}

.nav-btn:hover {
    border: 1px solid #3DCFB6;
    transition: color 0.2s ease-in;
}

.nav-btn:hover .marquee-btn-content {
    animation: buttonMarquee 2.5s linear infinite;
    color: #3DCFB6;
    transition: color 0.2s ease-in;
}

.nav-btn:not(:hover) .marquee-btn-content {
    animation: none;
    transform: translateX(0);
    transition: transform 2s ease-out;
}

.marquee {
    position: absolute;
    bottom: 48px;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    color: #3DCFB6;
    padding: 16px 0;
    transform: skewY(-3deg);
    overflow: hidden;
    white-space: nowrap;
    z-index: 10;
}

.marquee-content {
    display: flex;
}

.marquee-content span {
    font-size: 24px;
    flex-shrink: 0;
}

.separator {
    margin: 0 24px !important;
    padding: 0 !important;
}

.left-side-container {
    position: absolute;
    bottom: 0;
    left: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    width: 20px; 
}

.right-side-container {
    position: absolute;
    bottom: 0;
    right: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    width: 20px; 
}


.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 56px;
    border: solid 1px #3DCFB6;
    border-radius: 48px;
}

.contact-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.mailto-link {
    transform: rotate(-90deg);
    margin-bottom: 78px;
    font-size: 18px;
}

.mailto-link:hover {
    color: #3DCFB6;
    transition: color 0.2s ease-in;
}

.github-icon,
.linkedin-icon {
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: background-image 0.2s ease;
}

.github-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/img/github.svg');
}

.github-icon:hover {
    background-image: url('../assets/img/github_hover.svg');
}

.linkedin-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/img/linkedin.svg');
}

.linkedin-icon:hover {
    background-image: url('../assets/img/linkedin_hover.svg');
}



.icon-highlighter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3DCFB6;
    padding-left: 46px;
    font-size: 18px;
    visibility: hidden;
    opacity: 1;
}

.linkedin-icon:hover .icon-highlighter,
.github-icon:hover .icon-highlighter {
    
    visibility: visible;
    opacity: 1;
}

.vector {
    width: 8px;
    animation: vectorJumping 2s infinite linear;
}

.left-line {
    width: 1px;
    height: 260px;
    border: solid 1px #3DCFB6;
    z-index: 1;
}

.right-line {
    width: 1px;
    height: 180px;
    border: solid 1px #D9D9D9;
    z-index: 1;
}

@keyframes buttonMarquee {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-150%);
    }

    50.1% {
        transform: translateX(150%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes marqueeScroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(var(--translate-distance, -50%));
    }
}

@keyframes vectorJumping {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}