body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: grey;
    background-image: url('../assets/img/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.legal-footer {
    width: 100%;
    background-color: transparent;
}

.legal-notice-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 140px 140px 0 140px;
}

.legal-section {
    margin: 24px 0;
}

.legal-headline {
    margin: 0 0 4px 0;
    font-size: 24px;
    font-weight: 800;
    color: white;
}

.imprint {
    padding: 20px 0 0 24px;
    color: #3DCFB6;
}

.legal-text {
    font-size: 18px;
    color: #3DCFB6;
}

.white-text {
    color: white;
}

@media (max-width: 1660px) {
    
}

@media (max-width: 1350px) {
    
}

@media (max-width: 648px) {
    
}

@media (max-width: 520px) {
    
}

@media (max-width: 400px) {
   
}