body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: grey;
    background-image: url('../assets/img/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: var(--font-karla), sans-serif;
}

.legal-footer {
    width: 100%;
    background-color: transparent;
}

.legal-notice-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 140px 140px 0 140px;
}

.legal-section {
    margin: 24px 0;
}

.legal-main-headline {
    align-self: center;
    font-size: 96px;
    color: #3DCFB6;
}

.legal-headline {
    margin: 0 0 4px 0;
    font-size: 24px;
    font-weight: 800;
    color: white;
    font-family: var(--font-karla), sans-serif;
}

.imprint {
    padding: 20px 0 0 24px;
    color: #3DCFB6;
    font-family: var(--font-karla), sans-serif;
}

.legal-text {
    font-size: 18px;
    color: #3DCFB6;
    font-family: var(--font-karla), sans-serif;
}

.white-text {
    color: white;
    font-family: var(--font-karla), sans-serif;
}

@media (max-width: 1660px) {}

@media (max-width: 1350px) {
    .legal-notice-container {
        padding: 140px 96px 0;
    }

    .legal-main-headline {
        font-size: 72px;
    }
}

@media (max-width: 900px) {
    .legal-main-headline {
        font-size: 60px;
    }
}

@media (max-width: 648px) {
    .legal-notice-container {
        padding: 140px 24px 0;
    }
}

@media (max-width: 520px) {
    .legal-main-headline {
        font-size: 44px;
    }
}

@media (max-width: 400px) {
    .legal-main-headline {
        font-size: 36px;
    }
}