.project-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1500px;
    height: 800px;
    background-color: #1c1c1c;
    background-image: url(../assets/img/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1000; 
    border: 1px solid #3DCFB6;
    border-radius: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
    padding: 72px 60px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dunkler Overlay */
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.modal-open {
    overflow: hidden;
    height: 100vh;
}

.left-modal-side {
    width: 620px;
}

.project-index {
    font-size: 140px;
    font-weight: 900;
}

.project-modal-name {
    font-size: 72px;
    font-weight: 900;
    color: #FFFFFF;
}

.modal-project-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 32px 0;
}

.description {
    font-size: 20px;
    margin-top: 16px;
    color: #FFFFFF;
}

.project-btn-container {
    display: flex;
    gap: 24px;
}

.project-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
    color: #D9D9D9;
    width: 186px;
    height: 44px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 20px;
    overflow: hidden;
    gap: 8px;
}

.arrow-icon {
    transition: transform 0.3s ease ease-in-out;
}

.project-btn:hover {
    border-color: #3DCFB6;
    color: #3DCFB6;
}

.project-btn:hover .arrow-icon {
    transform: translateX(2px) translateY(-2px);

}

.used-technologies {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin: 48px 0;
}

.technologie-name {
    display: flex;
    font-size: 18px;
    color: #FFFFFF;
}

.technologie-icon {
    width: 32px;
}

.modal-right-side {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    height: 100%;
}

.modal-preview-img {
    width: 600px;
    height: auto;
    border-radius: 40px;
}

.next-project {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #3DCFB6;
    cursor: pointer;
}

.next-icon {
    width: 32px;
}

.next-project:hover {
    color: #FFFFFF;
    transition: color 0.3s ease;
}

.next-project:hover .next-icon {
    transform: scale(1.4) translate(4px);
    transition: transform 0.3s ease;
}