.references {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 96px;
    overflow: hidden;
}

.reference-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;
}


.reference-collection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 96px 0 60px 0;
    gap: 60px;
    height: 350px;
}

.single-reference {
    flex: 0 0 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 800px;
    height: 350px;
    background-color: rgba(61, 207, 182, 0.3);
    padding: 48px;
    border: 1px solid #3DCFB6;
    border-radius: 40px;
    color: #FFFFFF;
    transform: translateX(0) scale(1);
    opacity: 1;
    transition:
        transform 0.2s linear,
        opacity 0.2s ease-in-out
        /* height 0.2s ease-in-out; */
}

.single-reference.center {
    transform: translateX(0) scale(1);
    opacity: 1;
    height: 350px;
}

.single-reference.outer-left,
.single-reference.left,
.single-reference.outer-right,
.single-reference.right {
    height: 300px;
    opacity: 0.7;
}

.single-reference {
    transition:
        transform 0.4s ease-in-out,
        opacity 0.4s ease-in-out,
        height 0.4s ease-in-out;
}

.reference-text {
    font-size: 18px;
}

.reference-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 32px;
}

.horizontal-line {
    width: 100%;
    height: 1px;
    border: solid 1px #FFFFFF;
    margin: 16px 0;
}

.reference-name {
    flex-shrink: 0;
}

.quotes-icon {
    width: 96px;
    position: absolute;
    top: -32px;
    left: -48px;
}

.prev-slider:hover {
    cursor: pointer;
    transform: scale(1.2) translateX(-4px);
    transition: transform 0.2s ease-in-out;
    filter: brightness(0) saturate(100%) invert(72%) sepia(66%) saturate(425%) hue-rotate(114deg) brightness(88%) contrast(88%);
}

.next-slider:hover {
    cursor: pointer;
    transform: scale(1.2) translateX(4px);
    transition: transform 0.2s ease-in-out;
    filter: brightness(0) saturate(100%) invert(72%) sepia(66%) saturate(425%) hue-rotate(114deg) brightness(88%) contrast(88%);
}

.content-slider {
    display: flex;
    justify-content: center;
    align-items: center;

}

.slider-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.indicator {
    font-size: 32px;
    color: #FFFFFF;
}

.indicator.active {
    color: #3DCFB6;
    font-size: 28px;
}

@media (max-width: 1660px) {

    .single-reference.right,
    .single-reference.left,
    .single-reference.center {
        flex-basis: 720px;
    }
}

@media (max-width: 1350px) {

    .single-reference.right,
    .single-reference.left,
    .single-reference.center {
        flex-basis: 680px;
    }
}

@media (max-width: 835px) {
    .reference-collection {
        height: auto;
        margin: 96px 0;
        gap: 40px;
    }

    .single-reference.right,
    .single-reference.left,
    .single-reference.center {
        flex-basis: 530px;
        height: auto !important;
    }

    .single-reference.center {
        transform: scaleY(1.2); /* Nur Y-Achse (Höhe) */
    }

    .quotes-icon {
        transform: scaleX(1.2); /* Nur Y-Achse (Höhe) */

        width: 54px;
        top: -14px;
        left: -20px;
    }

}

@media (max-width: 648px) {
    .reference-collection {
        gap: 24px;
    }

    .single-reference.right,
    .single-reference.left,
    .single-reference.center {
        flex-basis: 400px;
        padding: 24px;

    }

    

    .reference-text {
        font-size: 16px;
        margin: 0 0 8px 0;
    }

    .reference-name {
        font-size: 16px;
        flex-shrink: 0;
        white-space: normal;
        /* Erlaubt normales Umbrechen */
        word-break: normal;
        /* Bricht Wörter NICHT */
        overflow-wrap: break-word;
        /* Nur als Notfall bei sehr langen Wörtern */
        max-width: 200px;
        /* Definiere eine maximale Breite */
    }

    .horizontal-line {
        display: none;
    }
}

@media (max-width: 520px) {
    .reference-collection {
        gap: 24px;
    }

    .single-reference.right,
    .single-reference.left,
    .single-reference.center {
        flex-basis: 300px;
    }
}

@media (max-width: 400px) {
    .reference-collection {
        gap: 12px;
    }

    .single-reference.right,
    .single-reference.left,
    .single-reference.center {
        flex-basis: 280px;
    }
}