html {
    scrollbar-width: thin; /* Firefox: thin, auto, none */
    scrollbar-color: #094339 #1F2E2C; /* Firefox: thumb track */
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100vw;
    border: 2px solid #1F2E2C;
    background-color: #094339;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3DCFB6;
}

::-webkit-scrollbar-track {
    background-color: #1F2E2C;
}

/* Fallback mit @supports für bessere Kontrolle */
/* Nur Firefox */
@supports (-moz-appearance: none) {
    html {
        scrollbar-color: #3DCFB6 #2A2A2A; /* Firefox-spezifische Farben */
    }
}